.location_item {
  display: inline-block;
  box-sizing: border-box;
  width: 670px;
  height: 201px;
  margin-left: 20px;
  padding-left: 33px;
  padding-right: 93px;
  background-image: url('../../../../assets/images/location_bg.png');
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 5px 21px 0px rgba(76, 76, 76, 0.26);

  .inner {
    height: 100%;

    .name {
      margin-right: 37px;
      font-size: 28px;
      font-weight: 600;
      color: rgba(5, 3, 4, 1);
    }

    .icon {
      width: 19px;
      height: 24px;
      margin-right: 13px;
    }

    .distance {
      font-size: 24px;
      color: rgba(5, 3, 4, 1);
    }

    .addr {
      margin-top: 31px;
      font-size: 24px;
      color: rgba(132, 132, 132, 1);
    }

    .code {
      margin-top: 20px;
      font-size: 24px;
      color: rgba(132, 132, 132, 1);
    }

    .go {
      font-size: 24px;

      .img {
        width: 74px;
        height: 84px;
      }

      .tips {
        margin-top: 18px;
      }
    }
  }
}

.location_item:first-child {
  margin-left: 40px;
}

.location_item:last-child {
  margin-right: 40px;
}
