/* Element Variables */

// Override Element UI variables
// $--color-primary: #1890ff;
// $--color-success: #13ce66;
// $--color-warning: #FFBA00;
// $--color-danger: #ff4949;
// $--color-info: #5d5d5d;
// $--button-font-weight: 400;
// $--color-text-regular: #1f2d3d;
// $--border-color-light: #dfe4ed;
// $--border-color-lighter: #e6ebf5;
// $--table-border:1px solid#dfe6ec;

/* 主色 */
$--color-primary: #5F84FF;

/* 辅助色 */
$--color-function1: linear-gradient(135deg, #FF9743 0%, #FF5E20 100%);
$--color-function2: #5771DE;
$--color-function3: #F3F6FB;
$--color-function4: #FBF4F0;

/* 中性色 */
$--color-text-primary: #333333; // 主要文字
$--color-text-secondary: #666666; // 次要文字
$--color-text-placeholder: #D8DDE3; // 占位文字
$--border-color-base: #D8DDE3; // 边框色
$--background-color-base: #F8FAFD; // 背景色
$--color-black:#000000; // 基础黑
$--color-white: #FFFFFF; // 基础白

/* 字号 */
// TODO: 1.字号 2.下拉列表和输入框用到的时候再添加
