// @import './variables.scss'; // Already imported in style-resources-loader
// @import './mixins.scss'; // Already imported in style-resources-loader
@import './element-variables.scss';
@import './transition.scss';
@import './svgicon.scss';
@import './el-table.scss';
@import './el-pagination.scss';
@import './el-dialog.scss';
@import './el-select.scss';
@import './el-message.scss';
@import './el-upload.scss';

/* Global scss */

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue,
    Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  @include clearfix;
}

.el-col-5 {
  width: 20%;
}

.app-container {
  position: relative;

  .search {
    display: flex;
    height: 64px;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 17px;
    background-color: #ffffff;

    .el-form-item {
      margin-bottom: 0;
    }
  }

  .forms {
    height: 85px;
    padding: 24px 0 21px 30px;
    background-color: #ffffff;
  }

  .result {
    padding: 20px 15px 19px 17px;
    background-color: #ffffff;

    .operation {
      margin-bottom: 20px;
    }
  }
}
