.pay-success-img {
  width: 117px;
  height: 118px;
  margin-top: 81px;
}

.pay-success-msg {
  margin-top: 48px;
  font-size: 32px;
  color: rgba(5, 3, 4, 1);
}

.pay-success-tips {
  margin-top: 48px;
  font-size: 24px;
  color: rgba(153, 153, 153, 1);
}
